<p>Deze pagina dient om een account te maken</p>
<p>hints om een goed paswoord te maken dat je niet vergeet.</p>
<li>
    <p>1) Iets dat je hebt. (gsmodel/automerk...)</p>
    <p>2) Iets dat je bent.(level100/starwarsfanaat...)</p>
    <p>3) Iets dat je weet. (datum/plaatsnaam...)</p>
    <p>4) je paswoord kan maximaal 25 karakters bevatten (database berperking)</p>
</li>
<form action="#">
    <input placeholder="naam en achternaam" type="text" name="naam" [(ngModel)]="naam">
    <input placeholder="paswoord" type="password" name="password" [(ngModel)]="password">
    <input type="text" placeholder="1-123-ABC" name="nummerplaat" [(ngModel)]="nummerplaat">
    <input type="submit" (click)="createaccount()">
</form>
